.oswald-front-contatti {
<<<<<<< HEAD
    font-family: "Jost", sans-serif;
=======
    font-family: "Oswald", sans-serif;
>>>>>>> 6bc66683a2ac8bacb7b9ffe377bb29d9af5b4b5b
    font-weight: 300;
    font-style: normal;
  }
  .contattiCustom{
  text-align: center;
  font-size: 1.3rem;
  }
  @media (min-width: 992px) {
    .contattiCustom{
    text-align: left;

    }
}
.marginContatti{
    margin-top: 5%;
}
@media (min-width: 992px) {
    .marginContatti{
        margin-top: -2%;
    }
}