.oswald-front-servizi {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
.more-content {
    display: none;
    font-size: 16px;
}

.show-more-btn {
    cursor: pointer;
    color: rgb(13, 13, 14);
    text-decoration: underline;
    font-size: 16px;
}
.show-more-btn:hover{
    color: rgb(78, 78, 77);
}
.card {
    display: flex;
    flex-direction: column;
    height:auto;
    border-radius: 12px !important;
    overflow: hidden;
} 
.card-body {
    flex: 1;
}
.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 0%;
  }
  .CustomRounded{
    border-radius: 10%;
  }