@import "./navbar.css";
/*@import "./carousel.css";*/
@import "./welcome.css";
@import "./footer.css";


.swiper {
    width: 600px;
    height: 200px;
  }
  
  .swiper-slide {
  background-color: grey;
  height: 70vh !important;
  text-align: center;
  }
  .swiper-content {
    height: 70vh !important
  }
  .carousel-caption{
    height: 70vh
  }