@import "./navbar.css";
@import "./carousel.css";
@import "./welcome.css";
@import "./footer.css";
@import "./servizi.css";
@import "./progetti.css";
@import "./contatti.css";

body {
    background-color: #f2ecec !important; 
    border-radius: 0%;
}

html {
    scroll-behavior: smooth;
  }