.oswald-front-welcome {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.textCustom {
  font-size: 1.4rem; /* Puoi regolare la dimensione secondo le tue necessità */
}
a {
  color: #fff;
  text-decoration: none !important;
  transform: 0.3s;
  transition: 0.3s;
}
a:hover {
  transform: 0.3s;
  transition: 0.3s;
  color: #fff !important;
  opacity: 0.7;
  text-decoration: none !important;
}
.imgChiSiamo {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 1.5%;
}
@media (min-width: 992px) {
  .imgChiSiamo {
    display: flex;
    align-items: center;
    margin-left: 21%;
  }
}
img {
  border-radius: 8px;
  width: 100%;
}
h2 {
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
}

.imgCustom2 {
  width: 100%;
  height: auto;
  align-items: center;
}
@media (min-width: 992px) {
  .imgCustom2 {
    height: auto;
  }
}
@media (min-width: 992px) {
  .visioneMarginTop {
    margin-top: 5%;
  }
}
.imgVisione {
  max-width: 100%; 
  height: auto; 
  width: 100%; 
  display: block;
  margin: 0 auto;
  border-radius: 24px !important;
}
