<!--FONT-->
.oswald-front-welcome {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
}
<!--STORIA AZIENDALE-->
.textCustom {
    font-size: 1.4rem; /* Puoi regolare la dimensione secondo le tue necessità */
  }
.imgChiSiamo{
    height: auto;
    width: 95vw;
    display: flex;
    align-items: center;
    margin-left: -1.5%;
}
@media (min-width: 992px) {
    .imgChiSiamo{
        height: 86vh;
        width: 33vw;
        display: flex;
        align-items: center;
        margin-top: -10%;
        margin-left: 12%;
        
    }
}
.imgCustom2{
    height: auto;
    width: 90vw;
    display: flex;
    align-items: center;
    margin-left: 6%;
}
@media (min-width: 992px) {
    .imgCustom2{
        height: auto;
        width: 37vw;
        margin-top: -10%;
        margin-left: 0%;
    }
}
.img3Custom{
    height: auto;
    width: 90vw;
    margin-top: 5%;
    margin-left: 6%;
}
@media (min-width: 992px) {
    .img3Custom{
        margin-top: 0%;
        height: auto;
        width: 39vw;
        margin-left: 30%;
    }
}
.img4Custom{
    height: auto;
    width: 90vw;
}
@media (min-width: 992px) {
    .img4Custom{
        height: auto;
        width: 35vw;
    }
}

@media (min-width: 992px) {
    .visioneMarginTop{
        margin-top: 5%;
    }
}

.imgVisione {
    max-width: 100%; /* Assicura che l'immagine non superi la larghezza del contenitore */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    width: 100%; /* Imposta la larghezza desiderata, ad esempio 80% del contenitore */
    display: block; /* Rimuove eventuali spazi bianchi sotto l'immagine */
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    margin-top: 5%;
}

.marginW{
    margin-bottom: 30%;
}
@media (min-width: 992px) {
    .marginW{
        margin-bottom: 10%;
    }
}
.marginV{
    margin-top: 20%;
}
@media (min-width: 992px) {
    .marginV{
        margin-top: 10%;
    }
}
.mt-storia{
    margin-top: 10%;
}
.mtstoria2{
    margin-top: 5%;
}
.marginLeftcustom{
    margin-left: 0%;
    margin-top: 10%;
}
@media (min-width: 992px) {
    .marginLeftcustom{
        margin-left: 18%;
        text-align: right;
        margin-top: -5%;
    }
}
.marginMissione{
    margin-top: 5%;
}
@media (min-width: 992px) {
    .marginMissione{
        margin-top: 15%;
    }
}
.mtFilosofia{
    margin-top: 5%;
}